/* Base Styles */
body {
  color: black;
  text-align: center;
  background-color: bisque;
  font-family: 'Tahoma', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0.5em 0;
}
a {
  color: darkorange;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  height: 2em;
  width: 2em;
}
p {
  font-size: 1.2em;
  margin: 0.5em 0;
}
header {
  display: flex;
  flex-direction: column;
}
.header-content {
  border: 0.1em solid darkorange;
  border-radius: .5em;
  padding: 0.5em;
  margin: 1em 0;
  background-color: thistle;
  position: relative;  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
header, main {
  width: 100%;
  max-width: 500px;
}
nav {
  margin-top: 12px;
  position: relative;
  /* border: 1px solid darkorange;
  background-color: lavenderblush; */
  /* border-radius: 0.5em; */
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap : 0.01em;
  /* position: absolute */
}
nav ul li {
  margin: 0.5em 1em;
}
nav ul li a {
  font-size: 0.75em;
  font-weight: bold;
}
section {
  margin-bottom: 48px;
}

/* Images */
.hero-img {
  max-width: 70%;
  height: auto;
  border: solid 1px darkorange;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
}
.special-img {
  max-width: 80%;
  height: auto;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;
  /* background-color: white; */
}

/* About Section */
.about-us {
  margin-bottom: 48px;
  max-width: 50%;
  text-align: center;
}
.about-us p {
  margin-bottom: 16px;
  line-height: 1.5em;
  border: 1px solid darkorange;
  border-radius: 0.5em;
  padding: 16px;
  background-color: lavenderblush;
}
/* Specials Section */
.specials-list {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.specials h2 {
  margin-bottom: 16px;
  font-size: 2em;
  text-decoration: underline;
}
.special-offer {
border: 2px solid darkorange;
border-radius: 0.5em;
max-width: 80%;
background-color: thistle;
}
.special-offer:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.price-was {
  text-decoration: line-through;
  color: gray;
  margin-right: 8px;
}
.seasonal-picks h2 {
  margin-bottom: 1em;
  font-size: 2em;
  text-decoration: underline;
}
.seasonal-card {
  margin-bottom: 16px;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid darkorange;
  border-radius: 0.5em;
  padding: 16px;
  background-color: thistle;
}
.seasonal-card img {
  max-width: 100%;
  border-radius: 0.5em;
}
.seasonal-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
/* Testimonials Section */
.testimonials {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}
.testimonials h2 {
  margin-bottom: 1em;
  font-size: 2em;
  text-decoration: underline;
}
.testimonial {
  max-width: 60%;
  border: 1px solid darkorange;
  border-radius: 0.5em;
  padding: 16px;
  margin-bottom: 16px;
  background-color: lavenderblush;
  margin-left: auto;
  margin-right: auto;
}
.testimonial:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
/* Visit Us Section */
.visit-us h2 {
  margin-bottom: 1em;
  font-size: 2em;
  text-decoration: underline;
}
.visit-us p {
  /* margin-bottom: 6em; */
  border: solid 1px darkorange;
  border-radius: 0.5em;
  padding: 16px;
  background-color: lavenderblush;
}
.address-block {
  font-style: normal;
  line-height: 1.5em;
  border: solid 1px darkorange;
  border-radius: 0.5em;
  padding: 16px;
  background-color: lavenderblush;
}
.contact-info {
  /* margin-bottom: 48px; */
  /* display: flex; */
  /* justify-content: space-between; */
  gap: 9em;
  font-size: 1.1em;
}

iframe {
  width: 100%;
  height: 200px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin-top: 48px; */
  min-width: 100%;
  padding: 1em 0;
  background-color: thistle;
  border-top: 0.1em solid darkorange;
  text-align: center;
}
.icon:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}
.social-icons {
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1em;
  align-items: center;
}
@media (max-width: 1024px) {
  body {
    font-size: 0.75em;
  }
  header {
    min-width: 90%;
  }
  #hero-container img {
    min-width: 90%;
  }
  .specials-list {
    flex-direction: column;
    align-items: center;
  }
  .special-offer {
    min-width: 100%;
    width: 100%;
  }
  .seasonal-card {
    max-width: 100%;
  }
  .footer-content {
    font-size: 0.75em;
   margin-right: 9em;
  }
}
@media (max-width: 600px) {
  .about-us, .special-offer {
    max-width: 100%;
  }
  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  header,
  .hero-img {
    max-width: 90%;
    width: 90%;
  }
  
}
